---
import ThemeDropdown from "@/components/astro/ThemeDropdown.astro";
import SearchTrigger from "@/components/astro/search/SearchTrigger.astro";
import { Icon } from "@/components/react/Icon";
import { CONFIG } from "config";
import ConfigDropdown from "../prose-config/ConfigDropdown.astro";
import logo from "./logo.svg?raw";
---

<header
  id="navbar"
  class="mounting group navbar sticky top-2 z-50 mx-auto mb-6 mt-4 max-w-5xl rounded-box bg-base-100 bg-base-100/30 px-2 shadow-md backdrop-blur-lg transition-all md:px-4 -md:mt-0.5 -md:p-0 -md:px-2"
>
  <div class="navbar-start">
    <a class="flex items-center gap-1" href="/" id="page-title" aria-labelledby="navbar-link-label">
      <Fragment set:html={logo} src={logo} is:raw class="red" />
      <span class="ml-2 text-xl transition-all hover:underline -sm:hidden">
        {CONFIG.SITE_TITLE}
      </span>
      <span class="sr-only" id="navbar-link-label"> Go to the home page </span>
    </a>
  </div>
  <div class="ml-auto w-fit">
    <ul class="menu menu-horizontal hidden px-1 md:flex">
      {
        CONFIG.NAV_LINKS.map((link) => {
          return (
            <li>
              <a href={link.href}>{link.title}</a>
            </li>
          );
        })
      }
    </ul>

    <div class="flex items-center gap-2 -md:gap-1 -sm:gap-0.5">
      <slot />
      <ConfigDropdown />

      <SearchTrigger />
      <ThemeDropdown class="group-[.shrinked]:!dropdown-left group-[.shrinked]:!dropdown-bottom">
        <Icon className="text-2xl game-icons--dandelion-flower" id="icon-flower" />
      </ThemeDropdown>
    </div>
  </div>
</header>

<style>
  :global(#logo) {
    width: 32px;
    height: 32px;
    @apply fill-primary;
    animation: rotate 10s reverse linear infinite;
  }

  :global(#icon-flower) {
    animation: rotate 10s linear infinite;
    @apply text-3xl;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
