---
import AppIcon from "@/components/astro/AppIcon.astro";
import ThemeDropdown from "@/components/astro/ThemeDropdown.astro";
import SearchTrigger from "@/components/astro/search/SearchTrigger.astro";
import { Image } from "astro:assets";
import { CONFIG, IconSet } from "config";
---

<header
  class="navbar z-50 box shadow-md bg-base-100 mx-auto sticky top-2 mt-4 mb-6 bg-base-100/60 backdrop-blur-lg px-2 md:px-4 rounded-xl"
>
  <div class="navbar-start">
    <!-- <div class="dropdown md:hidden">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <AppIcon set={IconSet.LINE_MD} name="menu-fold-left" class="size-8" />
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        {
          CONFIG.NAV_LINKS.map((link) => {
            return (
              <li>
                <a class="py-4" href={link.href}>
                  {link.title}
                </a>
              </li>
            );
          })
        }
      </ul>
    </div> -->
    <a class="items-center gap-1 flex" href="/">
      <Image src="/logo.webp" alt="Logo" width={24} height={24} />
      <span class="hover:underline ml-2 text-xl">
        {CONFIG.SITE_TITLE}
      </span>
    </a>
  </div>
  <div class="w-fit ml-auto">
    <ul class="menu menu-horizontal px-1 hidden md:flex">
      {
        CONFIG.NAV_LINKS.map((link) => {
          return (
            <li>
              <a href={link.href}>{link.title}</a>
            </li>
          );
        })
      }
    </ul>

    <div class="flex items-center gap-2">
      <SearchTrigger />
      <ThemeDropdown>
        <AppIcon
          set={IconSet.GAME_ICONS}
          name="dandelion-flower"
          class="icon-flower"
        /></ThemeDropdown
      >
    </div>
  </div>
</header>

<style>
  .icon-flower {
    animation: rotate 10s linear infinite;
    height: 32px;
    width: 32px;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
