---
import AppIcon from "@/components/astro/AppIcon.astro";
import ThemeDropdown from "@/components/astro/ThemeDropdown.astro";
import SearchTrigger from "@/components/astro/search/SearchTrigger.astro";
import { Image } from "astro:assets";
import { CONFIG, IconSet } from "config";
---

<header
  id="navbar"
  class="mounting group navbar sticky top-2 z-50 mx-auto mb-6 mt-4 max-w-5xl rounded-xl bg-base-100 bg-base-100/30 px-2 shadow-md backdrop-blur-lg transition-all md:px-4"
>
  <div class="flex gap-2 shadow-xl"></div>
  <div class="navbar-start">
    <!-- <div class="dropdown md:hidden">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <AppIcon set={IconSet.LINE_MD} name="menu-fold-left" class="size-8" />
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        {
          CONFIG.NAV_LINKS.map((link) => {
            return (
              <li>
                <a class="py-4" href={link.href}>
                  {link.title}
                </a>
              </li>
            );
          })
        }
      </ul>
    </div> -->
    <a class="flex items-center gap-1" href="/" id="page-title">
      <img src="/logo.webp" alt="Logo" width={24} height={24} />
      <span class="ml-2 hidden text-xl transition-all hover:underline sm:block">
        {CONFIG.SITE_TITLE}
      </span>
    </a>
  </div>
  <div class="ml-auto w-fit">
    <ul class="menu menu-horizontal hidden px-1 md:flex">
      {
        CONFIG.NAV_LINKS.map((link) => {
          return (
            <li>
              <a href={link.href}>{link.title}</a>
            </li>
          );
        })
      }
    </ul>

    <div class="flex items-center gap-2">
      <slot />
      <SearchTrigger />
      <ThemeDropdown
        class="group-[.shrinked]:!dropdown-left group-[.shrinked]:!dropdown-bottom"
      >
        <AppIcon
          set={IconSet.GAME_ICONS}
          name="dandelion-flower"
          class="icon-flower"
        /></ThemeDropdown
      >
    </div>
  </div>
</header>

<style>
  .icon-flower {
    animation: rotate 10s linear infinite;
    width: 28px;
    height: 28px;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  #navbar {
    &.mounting {
      @apply opacity-0;
    }
    &.shrinked {
      @apply w-auto !ml-auto mx-0 duration-[300] ease-in;

      #page-title {
        @apply hidden;
      }
    }
  }
</style>

<script>
  import { debounce } from "@/lib/utils";

  const navbar = document.querySelector("#navbar")!;

  if (window.scrollY > 250) {
    navbar.classList.add("!duration-0");
    navbar.classList.add("shrinked");
    navbar.classList.remove("!duration-0", "mounting");
  }

  const handleScroll = debounce(() => {
    if (window.scrollY > 250) {
      navbar.classList.add("shrinked");
      return;
    }

    navbar.classList.remove("shrinked");
  }, 100);

  window.addEventListener("scroll", handleScroll, { passive: true });
</script>
