---
import { formatDate } from "@/lib/date";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<a
  class="group card relative max-h-full min-w-[240px] flex-1 shadow-2xl transition-all hover:scale-[1.05] hover:shadow-md md:max-h-[380px] md:max-w-[320px]"
  href={`/blog/${post.slug}`}
>
  <div
    class="badge badge-md absolute left-0 top-0 rounded-lg rounded-bl-none rounded-tl-none rounded-tr-none"
  >
    {formatDate(post.data.date)}
  </div>

  <figure>
    <Image
      src={post.data.image}
      alt={post.data.imageAlt}
      width={260}
      class="object-cover"
    />
  </figure>
  <div class="card-body gap-0.5 pb-4 pt-2">
    <h2 class="card-title">
      {post.data.title}
    </h2>
    <p>
      {post.data.description.split(" ").slice(0, 20).join(" ") + "..."}
    </p>
    {
      post.data.tags && (
        <div class="card-actions mt-2 justify-end">
          {post.data.tags.map((tag) => (
            <div class="badge badge-sm duration-500 group-hover:badge-primary">
              {tag}
            </div>
          ))}
        </div>
      )
    }
  </div>
</a>
