---
import { Icon } from "@/components/react/Icon";
import { formatDate } from "@/lib/date";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;

const formattedDate = formatDate(post.data.date);
const {
  remarkPluginFrontmatter: { readingTime },
} = await post.render();
---

<div
  class="not-prose group card relative rounded-box border transition-all ease-in-out hover:shadow-xl dark:hover:ring-4 dark:hover:ring-primary"
>
  <a href={`/blog/${post.slug}`} class="card-body flex flex-col gap-4 p-5" data-astro-prefetch>
    <div class="flex flex-grow flex-col gap-1">
      <h3 class="text-lg">
        {post.data.title}
      </h3>
      <p class="mb-2 pb-1 text-sm">{post.data.description}</p>
      <div class="mb-2 flex flex-wrap items-center gap-x-2 text-sm">
        <span>{formattedDate}</span> |
        <span>{readingTime}</span>
      </div>
    </div>
  </a>

  <Icon
    className="absolute -right-32 bottom-4 flex size-12 h-12 w-12 items-center justify-center opacity-0 transition-all duration-500 ease-in-out la--chevron-right group-hover:-translate-x-36 group-hover:opacity-100"
  />
</div>
