---
import { cn } from "@/lib/cn";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import PostInfo from "./PostInfo.astro";
import TableOfContents from "./toc/TableOfContents.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const {
  Content,
  headings,
  remarkPluginFrontmatter: { readingTime },
} = await post.render();

const imgUrl = new URL(post.data.image.src, Astro.site).toString();
---

<div data-pagefind-body>
  <header
    class="mx-auto mb-12 mt-8 flex h-[350px] w-fit items-center gap-4 -lg:h-fit -lg:flex-col-reverse -lg:items-start -sm:mb-6 -sm:mt-4"
  >
    <div class="flex max-w-[460px] flex-col gap-4 -lg:mt-8 -lg:w-full -lg:max-w-full">
      <h1 class="text-center text-4xl font-extrabold">
        {post.data.title}
      </h1>

      <p class="max-w-lg text-[16px] font-bold italic">
        {post.data.description}
      </p>

      <PostInfo imgUrl={imgUrl} post={post} readingTime={readingTime} />

      {
        post.data.tags && (
          <ul class="mx-auto mt-2 flex w-fit max-w-md flex-wrap justify-center gap-1.5">
            {post.data.tags.map((tag) => {
              return (
                <li data-pagefind-filter={"Topics"} class="badge badge-outline badge-lg">
                  #{tag}
                </li>
              );
            })}
          </ul>
        )
      }
    </div>

    <a
      href={imgUrl}
      target="_blank"
      class="group h-[260px] w-[500px] hover:shadow-xl hover:shadow-base-content -lg:h-[340px] -lg:w-full -sm:hidden"
      aria-labelledby="post-image-label"
    >
      <Image
        src={post.data.image}
        alt={post.data.title}
        class="h-full w-full object-contain"
        widths={[500, 750]}
        sizes="(max-width: 1024px) 500px, 750px"
      />
      <span class="sr-only" id="post-image-label"> Click to see post's image </span>
    </a>
  </header>

  <div class={"flex flex-col items-start  xl:grid xl:grid-cols-[0px_1fr] "}>
    <TableOfContents
      headings={headings}
      data-pagefind-ignore="all"
      class="fixed right-6 top-20 mx-auto lg:sticky lg:left-0 lg:top-24 lg:mx-0"
    />

    <div class="mx-auto max-w-full">
      <div
        class={cn(
          "prose-code:not-prose prose prose-code:!text-[14px] prose-a:!transition-none  justify-self-center w-[--article-width] max-w-full article-body",
        )}
      >
        <Content />
      </div>
    </div>
  </div>
</div>
