---
import { cn } from "@/lib/cn";
import type { CollectionEntry } from "astro:content";
import PostInfo from "./PostInfo.astro";
import TableOfContents from "./toc/TableOfContents.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const {
  Content,
  headings,
  remarkPluginFrontmatter: { readingTime },
} = await post.render();
---

<div data-pagefind-body>
  <header class="mx-auto mt-8 flex w-[--article-width] max-w-full flex-col gap-4">
    <h1 class="font-caveat text-6xl">
      {post.data.title}
    </h1>

    <p class="max-w-xl text-balance border-l-2 border-l-primary py-2 pl-4 text-[16px] text-xl">
      {post.data.description}
    </p>
    <PostInfo post={post} readingTime={readingTime} />
  </header>

  <div class={"flex flex-col items-start  xl:grid xl:grid-cols-[0px_1fr] "}>
    <TableOfContents
      headings={headings}
      data-pagefind-ignore="all"
      class="fixed right-6 top-20 mx-auto lg:sticky lg:left-0 lg:top-24 lg:mx-0"
    />

    <div class="mx-auto max-w-full">
      <div
        class={cn(
          "prose-code:not-prose prose prose-pre:scrollbar-thin prose-code:font-jetbrains prose-code:!text-[14px] prose-headings:font-caveat prose-headings:font-normal  justify-self-center w-[--article-width] max-w-full article-body",
        )}
      >
        <Content />
      </div>
    </div>
  </div>
</div>
