---
import { H1Renderer } from "@/components/preact/H1Renderer";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import PostInfo from "./PostInfo.astro";
import TableOfContents from "./toc/TableOfContents.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const {
  Content,
  headings,
  remarkPluginFrontmatter: { readingTime },
} = await post.render();
---

<div data-pagefind-body>
  <h1 class="mx-auto mb-8 mt-4 w-fit text-6xl font-extrabold">
    {post.data.title}
  </h1>

  <div class="mx-auto">
    <Image
      src={post.data.image}
      alt={post.data.imageAlt}
      widths={[240, 540, 720, 1200]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, 1200px`}
      class="mx-auto h-[450px] w-full max-w-[1200px] rounded-xl object-cover md:object-contain"
    />
  </div>

  <PostInfo post={post} readingTime={readingTime} />

  {
    post.data.tags && (
      <ul class="mx-auto mt-4 flex w-fit max-w-xs flex-wrap justify-center gap-1.5">
        {post.data.tags.map((tag) => {
          return (
            <li
              data-pagefind-filter={"Topics"}
              class="badge badge-primary badge-outline badge-sm"
            >
              {tag}
            </li>
          );
        })}
      </ul>
    )
  }

  <div
    class="flex flex-col items-start gap-[clamp(1rem,10vw,6rem)] lg:grid lg:grid-cols-[250px_1fr] lg:pl-8 xl:grid-cols-[300px_1fr] 2xl:grid-cols-[340px_1fr]"
  >
    <TableOfContents
      headings={headings}
      data-pagefind-ignore="all"
      class="mx-auto w-full max-w-[95%] md:max-w-[85%] lg:sticky lg:top-24 lg:mx-0 lg:max-w-full"
    />

    <div class="max-w-full md:mx-auto lg:mx-0">
      <div
        class="prose-md prose-code:not-prose prose justify-self-center xl:prose-lg"
      >
        <Content components={{ h1: H1Renderer }} />
      </div>
    </div>
  </div>
</div>
