---
import { H1Renderer } from "@/components/preact/H1Renderer";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import PostInfo from "./PostInfo.astro";
import TableOfContents from "./toc/TableOfContents.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const {
  Content,
  headings,
  remarkPluginFrontmatter: { readingTime },
} = await post.render();
---

<div data-pagefind-body>
  <h1 class="mx-auto mb-4 mt-4 w-fit text-6xl font-extrabold">
    {post.data.title}
  </h1>

  <h2 class="mx-auto mb-6 block w-fit text-lg">
    {post.data.description}
  </h2>

  <div class="mx-auto">
    <Image
      src={post.data.image}
      alt={post.data.imageAlt}
      loading="eager"
      widths={[240, 540, 720, 1200]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1200px) 720px, 1200px`}
      class="mx-auto h-[450px] w-full max-w-[1200px] object-cover md:object-contain"
    />
  </div>

  <PostInfo post={post} readingTime={readingTime} />

  {
    post.data.tags && (
      <ul class="mx-auto mt-4 flex w-fit max-w-xs flex-wrap justify-center gap-1.5">
        {post.data.tags.map((tag) => {
          return (
            <li data-pagefind-filter={"Topics"} class="badge badge-primary badge-outline badge-sm">
              {tag}
            </li>
          );
        })}
      </ul>
    )
  }

  <div class={"flex flex-col items-start  xl:grid xl:grid-cols-[0px_1fr] "}>
    <TableOfContents
      headings={headings}
      data-pagefind-ignore="all"
      class="fixed right-6 top-20 mx-auto lg:sticky lg:left-0 lg:top-24 lg:mx-0"
    />

    <div class="mx-auto max-w-full">
      <div class="prose-md prose-code:not-prose prose justify-self-center xl:prose-lg">
        <Content components={{ h1: H1Renderer }} />
      </div>
    </div>
  </div>
</div>
