---
import Navbar from "@/components/astro/Navbar.astro";
import "@/styles/global.scss";
import "@/styles/components.scss";
import "@/styles/code.scss";
import "@fontsource/jetbrains-mono";
import Footer from "@/components/astro/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import { cn } from "@/lib/cn";
import { CODE_THEMES, DARK_THEMES, LIGHT_THEMES, THEMES } from "config";

interface Props {
  title: string;
  description: string;
  mainClassname?: string;
  noIndex?: boolean;
  image?: string;
}

const { title, description, mainClassname, noIndex, image } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const imageUrl = image && new URL(image, Astro.url);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />

    {noIndex && <meta name="robots" content="noindex" />}

    <link rel="canonical" href={canonicalURL} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="Void Flower" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content={Astro.url} />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />

    {imageUrl && <meta property="og:image" content={imageUrl} />}
    {imageUrl && <meta property="twitter:image" content={imageUrl} />}

    <link
      rel="alternate"
      type="application/rss+xml"
      title={title}
      href={new URL("rss.xml", Astro.site)}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <slot name="head" />
    <ViewTransitions />
  </head>
  <body class="px-3 md:px-1 flex flex-col">
    <Navbar />
    <main class={cn(" h-0 flex-1", mainClassname)}>
      <slot />
    </main>
    <Footer />

    <script define:vars={{ DARK_THEMES, LIGHT_THEMES, CODE_THEMES }}>
      const THEME_KEY = "theme";
      const getThemePreference = () => {
        if (typeof localStorage !== "undefined") {
          const theme = localStorage.getItem(THEME_KEY);

          if (theme) {
            return theme;
          }
        }

        return window.matchMedia("(prefers-color-scheme: dark)").matches
          ? DARK_THEMES.dark
          : LIGHT_THEMES.bumblebee;
      };

      const getCodeTheme = (theme) => {
        const codeTheme =
          theme in DARK_THEMES ? CODE_THEMES.dark : CODE_THEMES.light;
        return codeTheme;
      };

      const getDocumentTheme = () => {
        return document.documentElement.dataset.theme;
      };

      const setDarkMode = (document) => {
        const theme = getThemePreference();
        const codeTheme = getCodeTheme(theme);

        document.documentElement.dataset.theme = theme;
        document.documentElement.dataset.codeTheme = codeTheme;
      };

      setDarkMode(document);

      document.addEventListener("astro:before-swap", (event) => {
        setDarkMode(event.newDocument);
      });

      if (typeof localStorage !== "undefined") {
        const observer = new MutationObserver(() => {
          const theme = getDocumentTheme();
          if (!theme) return;
          const codeTheme = getCodeTheme(theme);
          document.documentElement.dataset.codeTheme = codeTheme;
          localStorage.setItem(THEME_KEY, theme);
        });
        observer.observe(document.documentElement, {
          attributes: true,
          attributeFilter: ["data-theme"],
        });
      }
    </script>
  </body>
</html>

<style is:global>
  body {
    overflow-x: hidden;
  }

  @supports (overflow: clip) {
    body {
      overflow-x: clip;
    }
  }
</style>
